body {
	background: url(/Images/bg-body.jpg) repeat;
	color: #727272;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1;
	margin: 0;
	min-width: 900px;
    max-width: 1920px;
	padding: 0;
}
#background {
	background: url(/Images/bg-page.jpg) no-repeat top center;
	margin: 0;
	padding: 0;
}
#header {
	background: url(/Images/bg-header2.png) repeat-x top center;
	margin: 0;
	padding: 0;
}
#header > div {
	background: url(/Images/bg-header.png) no-repeat top center;
	margin: 0;
	padding: 0;
}
#header > div > div {
	height: 150px;
    min-width: 900px;
	margin: 0 auto;
	padding: 0 0 50px;
	width: 50%;
}
#header a.logo {
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 1%;
	width: auto;
	height: 100%;
	border: 0;
}
#header ul {
	background: url(/Images/bg-navigation.png) no-repeat center center;
	margin: 15px 0 0;
	overflow: hidden;
	padding: 5px 20px;
	width: 865px;
    float: left;
}
#header ul li {
	display: flex;
	float: left;
	margin: 0 5px;
	padding: 0;
}
#header ul li a {
	background: url(/Images/menu.png) no-repeat;
	color: #a8a8a8;
	display: flex;
	font-family: 'Philosopher-Bold';
	font-size: 16px;
	font-weight: normal;
	justify-content: center;
	height: auto;
	letter-spacing: 0.07em;
	line-height: 104px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 163px;
}
#header ul li #menu1 {
	background-position: 0 0;
}
#header ul li #menu2 {
	background-position: -168px 0;
}
#header ul li #menu3 {
	background-position: -335px 0;
}
#header ul li #menu4 {
	background-position: -502px 0;
}
#header ul li #menu5 {
	background-position: -669px 0;
}
#header ul li a:hover, #header ul li.selected a {
	color: #fff;
}
#header ul li #menu1:hover, #header ul li.selected #menu1 {
	background-position: 0 -113px;
}
#header ul li #menu2:hover, #header ul li.selected #menu2 {
	background-position: -168px -113px;
}
#header ul li #menu3:hover, #header ul li.selected #menu3 {
	background-position: -335px -113px;
}
#header ul li #menu4:hover, #header ul li.selected #menu4 {
	background-position: -502px -113px;
}
#header ul li #menu5:hover, #header ul li.selected #menu5 {
	background-position: -669px -113px;
}
#body {
	background: url(/Images/bg-body-header.png) no-repeat top center;
	margin: 0 auto;
	padding: 1.8% 0 0;
	width: 50%;
    display: flex;
}
#body p {
	margin: 0;
	padding: 0;
}
#body p a {
	color: #797979;
}
#body p a:hover {
	color: #a3a3a3;
}
#body > div {
	background: url(/Images/bg-body-footer.png) no-repeat bottom center;
	margin: 1% 0 0;
	padding: 0 0 5%;
}
#body > div > div {
	background: url(/Images/bg-body2.png) repeat-y top center;
	min-height: 400px;
	margin: 0;
	padding: 0;
}
#body div div .featured {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: relative;
}
#body div div .featured img {
	display: block;
	width: 96%;
	height: 96%;
	padding: 2%;
	position: relative;
}
#body div div .section {
	background: #0a0a0a url(/Images/gradient.png) repeat-x bottom center;
	margin: 0 auto;
	overflow: auto;
	padding: 2%;
	width: auto;
}
#body div div .section > div {
	background: url(/Images/border.gif) repeat-x top left;
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}
#body div div .section div h4 {
	background: #070707 url(/Images/gradient2.png) repeat-x top center;
	border: 1px solid #22272a;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 1px;
	padding: 10px 19px;
}
#body div div .section div div {
	background: #181818;
	border: solid #22272a;
	margin: 0;
	padding: 0;
}
#body div div .section div:first-child div {
	padding: 1%;
}
#body div div .section div div p {
	line-height: 24px;
	margin: 0;
	padding: 5px 0;
}
#body div div .section div div p a {
	color: #727272;
}
#body div div .section a.more {
	background: url(/Images/bg-more.png) no-repeat center center;
	color: #bababa;
	display: block;
	height: auto;
	font-size: 10px;
	font-weight: normal;
	line-height: 24px;
	margin: 5px;
	padding: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	width: auto;
}
#body div div .section div div p a:hover {
	color: #a3a3a3;
}
#body div div .section div div p a.more:hover {
	background: url(/Images/bg-more-hover.png) no-repeat center center;
	color: #bababa;
}
#body div div .section div h3 {
	background: #070707 url(/Images/gradient3.png) repeat-x top center;
	border: 1px solid #22272a;
	color: #ffffff;
	font-family: 'Philosopher-Bold';
	font-size: 16px;
	font-weight: normal;
	height: auto;
	letter-spacing: 0.07em;
	line-height: 50px;
	text-align: center;
    text-decoration: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body div div .section div div a.figure {
	border: 1px solid #22272a;
	display: block;
	margin: 0;
	padding: 0;
}
#body div div .section div div a.figure:hover {
	opacity: 0.8;
}
#body div div .section div div a.figure img {
	border: 1px solid #000;
	display: block;
}
#body div div .section div div span {
	background: #181a1a url(/Images/gradient4.png) repeat-x bottom left;
	border-bottom: 1px solid #22272a;
	border-left: 1px solid #22272a;
	border-right: 1px solid #22272a;
	display: block;
	height: 38px;
}
#body div div .section div div span a {
	color: #a7a9ac;
	display: block;
	font-size: 12px;
	line-height: 38px;
	margin: 0;
	padding: 0 9px;
	text-align: center;
	text-decoration: none;
}
#body div div .section div div span a:hover {
	color: #fff;
}
#body .media, #body .news {
	margin: 0;
	padding: 0;
}
#body .media > div {
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body .media h2 {
	background: url(/Images/gradient2.png) repeat-x top center;
    border: 1px solid #22272a;
	margin: 0 0 10px;
	padding: 0;
    color: #ffffff;
    font-family: 'Philospher-Bold';
    text-align: center;
    font-size: 24px;
    height: 50px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    line-height: 50px;
}
#body .media h3 {
	background: #070707 url(/Images/gradient3.png) repeat-x top center;
	border: 1px solid #22272a;
	color: #ffffff;
	font-family: 'Philosopher-Bold';
	font-size: 16px;
	font-weight: normal;
	height: 50px;
	letter-spacing: 0.07em;
	line-height: 50px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
}
#body .media img {
    position: inline;
    float: left;
    padding: 0 10px 10px 0;
    max-height: 200px;
    max-width: 200px;
}
#body .media p {
    position: inline;
	line-height: 18px;
	padding: 10px;
}
#body .media ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body .media ul li {
    list-style: none;
    background: #181818;
    border: 0px solid #22272a;
	margin: 0 0 10px;
	padding: 0;
    min-height: 275px;
}
#body .media div div ul li a.figure {
	display: block;
	margin: 0;
	padding: 0;
}
#body .media div div ul li a.figure:hover {
	opacity: 0.8;
}
#body .media div div ul li a.figure img {
	border: 1px solid #000;
	display: block;
}
#body .games {
	overflow: hidden;
}
#body .games h3 {
	background: #070707 url(/Images/gradient3.png) repeat-x top left;
	border: 1px solid #22272a;
	color: #ffffff;
	font-family: 'Philosopher-Bold';
	height: 50px;
	letter-spacing: 0.07em;
	line-height: 50px;
	margin: 10px;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
}
#body .games .content {
	background: url(/Images/border.gif) repeat-x top left;
	float: left;
	margin: 0;
	padding: 0;
}
#body .games ul {
	background: #181818;
	border: 1px solid #22272a;
	margin: 10px;
    padding: 15px 15px 0;
}
#body .games ul li {
	border: 1px solid #22272a;
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
}
#body .games ul li a.figure {
	display: block;
	margin: 0;
	padding: 0;
}
#body .games ul li a.figure:hover {
	opacity: 0.8;
}
#body .games ul li a.figure img {
	border: 1px solid #000;
    display: flex;
}
#body .games ul li span {
	background: #181a1a url(/Images/gradient3.png) repeat-x bottom left;
	border-top: 1px solid #22272a;
	display: block;
}
#body .games ul li span a {
	color: #a7a9ac;
	display: block;
	margin: 0;
	padding: 0 9px;
	text-decoration: none;
}
#body .games ul li span a:hover {
	color: #ffffff;
}
#body .games .content span a {
	font-size: 14px;
    text-align: center;;
	line-height: 40px;
}
#body .about {
	overflow: hidden;
}
#body .about ul {
	margin: 0;
	padding: 0;
}
#body .about ul li {
	background: url(/Images/border.gif) repeat-x top left;
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
#body .about ul li h3 {
	background: #070707 url(/Images/gradient3.png) repeat-x top center;
	border: 1px solid #22272a;
	color: #fff;
	font-family: 'Philosopher-Regular';
	font-size: 24px;
	font-weight: normal;
	height: 55px;
	line-height: 55px;
	margin: 0 0 1px;
	padding: 0 20px;
	text-transform: capitalize;
}
#body .about ul li div {
	background: #181818;
	border: 1px solid #22272a;
	margin: 0;
	padding: 10px 10px 0 10px;
}
#body .about ul li div p {
	line-height: 24px;
	padding: 0 0 18px;
}
#body .about ul li div p span {
	font-size: 16px;
	text-transform: uppercase;
}
#body .about ul li div > span {
	text-transform: uppercase;
	line-height: 24px;
}
#body .about .content {
	float: left;
	margin: 0 10px;
	padding: 0;
}
#body .news {
	overflow: hidden;
}
#body .news ul {
	margin: 0;
	padding: 0;
}
#body .news ul li {
	list-style: none;
	margin: 10px;
	padding: 0;
}
#body .news .content {
	background: url(/Images/border.gif) repeat-x top left;
	float: left;
	margin: 0;
	padding: 0;
}
#body .news .content ul li {
	padding: 0 0 5px;
}
#body .news .content ul li .header {
	background: #070707 url(/Images/gradient5.png) repeat-x top center;
	border: 1px solid #22272a;
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 1px;
	overflow: hidden;
	padding: 10px;
}
#body .news .content .header b, #body .news .content .header i {
	display: block;
	text-align: center;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body .news .content ul li .header b a {
	color: #ffffff;
}
#body .news .content ul li .header b a:hover {
	color: #727272;
}
#body .news .content ul li .header span {
	background: #181818;
	border: 1px solid #22272a;
	border-radius: 4px;
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
    height: 20px;
    width: 100px;
}
#body .news .content ul li .header a {
	color: #bababa;
	display: block;
	float: right;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
}
#body .news .content ul li .header span a:first-child {
	border-right: 1px solid #22272a;
}
#body .news .content ul li .header span a:hover {
	color: #fff;
}
#body .news .content ul li .article {
	background: #181818;
	border: 1px solid #22272a;
	margin: 0 0 5px;
	overflow: hidden;
	padding: 0 20px;
}
#body .news .content ul li .article a.figure {
	border: 1px solid #22272a;
	display: block;
	float: left;
	margin: 0 0 10px;
	padding: 0;
}
#body .news .content ul li .article a.figure:hover {
	opacity: 0.8;
}
#body .news .content ul li .article a.figure img {
	border: 1px solid #000;
	display: block;
}
#body .news .content ul li .article p {
	line-height: 24px;
    padding: 5px 0;
}
#body .news .content ul li .article p a.more {
	background: url(/Images/bg-more.png) no-repeat center center;
	color: #bababa;
	display: block;
	height: auto;
	font-size: 10px;
	font-weight: normal;
	line-height: 24px;
	margin: 5px;
	padding: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	width: auto;
}
#body .news .content ul li .article p a.more:hover {
	color: #fff;
}
#body .news .sidebar {
	background: url(/Images/border.gif) repeat-x top left;
	float: left;
	margin: 0 0 0 30px;
	padding: 3px 0 0;
	width: 280px;
}
#body .news .sidebar div {
	background: #070707 url(/Images/gradient3.png) repeat-x top center;
	border: 1px solid #22272a;
	height: 48px;
	margin: 0 0 1px;
	overflow: hidden;
	padding: 0;
}
#body .news .sidebar div span {
	display: block;
	float: left;
	margin: 0;
	padding: 8px 16px;
	width: 107px;
}
#body .news .sidebar div span:first-child {
	background: url(/Images/border2.gif) repeat-y right top;
}
#body .news .sidebar div span a {
	color: #727272;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	width: 103px;
}
#body .news .sidebar div span a:hover {
	color: #fff;
}
#body .news .sidebar div span a.selected {
	color: #fff;
	background: #000;
	border: 1px solid #22272a;
	border-radius: 6px;
}
#body .news .sidebar ul {
	border: 1px solid #22272a;
	background: #181818;
}
#body .news .sidebar ul li {
	background: url(/Images/border2.gif) repeat-x top left;
	padding: 9px 19px 11px;
}
#body .news .sidebar ul li:first-child {
	background: none;
}
#body .news .sidebar ul li > a {
	color: #727272;
	display: block;
	line-height: 24px;
	padding: 0 0 5px;
	text-decoration: none;
}
#body .news .sidebar ul li > a:hover {
	color: #a3a3a3
}
#body .news .sidebar ul li span {
	background: #181818;
	border: 1px solid #22272a;
	border-radius: 4px;
	display: inline-block;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body .news .sidebar ul li span a {
	color: #bababa;
	display: block;
	float: left;
	font-size: 10px;
	height: 23px;
	line-height: 23px;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
}
#body .news .sidebar ul li span a:first-child {
	border-right: 1px solid #22272a;
}
#body .news .sidebar ul li span a:hover {
	color: #fff;
}
#footer {
	background: url(/Images/bg-footer2.png) repeat-x bottom left;
	margin: 0;
	padding: 0;
}
#footer > div {
	background: url(/Images/bg-footer.png) no-repeat bottom center;
	margin: 0;
	text-align: center;
	padding: 6% 0 0;
	display: block;
}
#footer #brand {
    background: url(/Images/gg_pattern.png) no-repeat center center;
    padding: 50px 0 0;
    margin: 5px 0;
}
#footer ul {
	padding: 0;
	overflow: hidden;
	display: inline-block;
	margin: 20px 0 40px;
}
#footer ul li {
    background: url(/Images/icons.png) no-repeat center;
	float: left;
	list-style: none;
}
#footer ul li a {
	color: #bababa;
    text-align: center;
    line-height: 7em;
	text-decoration: none;
    margin: 0 25px;
    width: 75px;
    height: 70px;
    padding: 3px;
    display: block;
    font-size: 10px;
}
#footer ul li a:hover {
    color: #ffffff;
}
#footer p {
	color: #ffffff;
	font-size: 12px;
	margin: 0;
	padding: 3px;
	text-align: center;
	text-transform: none;
}