
/****************************************
  ==== RESETS
****************************************/

html, body, div, canvas { 
    margin: 0; 
    padding: 0; 
}
::-moz-selection { 
    color: #333; 
    text-shadow: none; 
}
::selection {
    color: #333; 
    text-shadow: none; 
}
.clear:after {
    visibility: hidden; 
    display: block; 
    font-size: 0; 
    content: " "; 
    clear: both; 
    height: 0; 
}
.clear {
    display: inline-table; 
    clear: both; 
}

/* Hides from IE-mac \*/ 
* html .clear { 
    height: 1%; 
} 
.clear {
    display: block; 
} 
/* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

html, body { 
    width: 100%; 
    height: 100%; 
    font-family: Helvetica, Verdana, Arial, sans-serif; 
    min-width: 1900px;
}
body {
	background: url(/Images/bg-body.jpg) repeat;
	color: #727272;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1;
	margin: 0;
	min-width: 900px;
	padding: 0;
}
#background {
	background: url(/Images/bg-page.jpg) no-repeat top center;
	margin: 0;
	padding: 0;
}
#header {
	background: url(/Images/bg-header2.png) repeat-x top center;
	margin: 0;
	padding: 0;
}
#header > div {
	background: url(/Images/bg-header.png) no-repeat top center;
	margin: 0;
	padding: 0;
}
#header > div > div {
	height: 150px;
    min-width: 900px;
	margin: 0 auto;
	padding: 0 0 50px;
	width: 50%;
}
#header a.logo {
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 1%;
	width: auto;
	height: 100%;
	border: 0;
}
#header ul {
	background: url(/Images/bg-navigation.png) no-repeat center center;
	margin: 15px 0 0;
	overflow: hidden;
	padding: 5px 20px;
	width: 865px;
    float: left;
}
#header ul li {
	display: flex;
	float: left;
	margin: 0 5px;
	padding: 0;
}
#header ul li a {
	background: url(/Images/menu.png) no-repeat;
	color: #a8a8a8;
	display: flex;
	font-family: 'Philosopher-Bold';
	font-size: 16px;
	font-weight: normal;
	justify-content: center;
	height: auto;
	letter-spacing: 0.07em;
	line-height: 104px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 163px;
}
#header ul li #menu1 {
	background-position: 0 0;
}
#header ul li #menu2 {
	background-position: -168px 0;
}
#header ul li #menu3 {
	background-position: -335px 0;
}
#header ul li #menu4 {
	background-position: -502px 0;
}
#header ul li #menu5 {
	background-position: -669px 0;
}
#header ul li a:hover, #header ul li.selected a {
	color: #fff;
}
#header ul li #menu1:hover, #header ul li.selected #menu1 {
	background-position: 0 -113px;
}
#header ul li #menu2:hover, #header ul li.selected #menu2 {
	background-position: -168px -113px;
}
#header ul li #menu3:hover, #header ul li.selected #menu3 {
	background-position: -335px -113px;
}
#header ul li #menu4:hover, #header ul li.selected #menu4 {
	background-position: -502px -113px;
}
#header ul li #menu5:hover, #header ul li.selected #menu5 {
	background-position: -669px -113px;
}
#background {
	background: url(/Images/bg-page.jpg) no-repeat top center;
	margin: 0;
	padding: 0;
}
#body {
	background: url(/Images/bg-body-header.png) no-repeat top center;
	margin: 0 auto;
	padding: 1.8% 0 0;
	width: 50%;
    display: flex;
}
#body p {
	margin: 0;
	padding: 0;
}
#body p a {
	color: #797979;
}
#body p a:hover {
	color: #a3a3a3;
}
#body > div {
	background: url(/Images/bg-body-footer.png) no-repeat bottom center;
	margin: 1% 0 0;
	padding: 0 0 5%;
}
#body > div > div {
	background: url(/Images/bg-body2.png) repeat-y top center;
	min-height: 400px;
	margin: 0;
	padding: 0;
}
#body div div .featured {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: relative;
}
#body div div .featured canvas {
    background-color: black;
	display: flex;
    justify-content: center;
    width: 900px;
    height: 600px;
	position: relative;
}
#body div div .section {
	background: #0a0a0a url(/Images/gradient.png) repeat-x bottom center;
	margin: 0 auto;
	overflow: auto;
	padding: 2%;
	width: auto;
}
#body div div .section > div {
	background: url(/Images/border.gif) repeat-x top left;
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}
#body div div .section div h4 {
	background: #070707 url(/Images/gradient2.png) repeat-x top center;
	border: 1px solid #22272a;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 1px;
	padding: 10px 19px;
}
#body div div .section div div {
	background: #181818;
	border: solid #22272a;
	margin: 0;
	padding: 0;
}
#body div div .section div:first-child div {
	padding: 1%;
}
#body div div .section div div p {
	line-height: 24px;
	margin: 0;
	padding: 5px 0;
}
#body div div .section div div p a {
	color: #727272;
}
#body div div .section a.more {
	background: url(/Images/bg-more.png) no-repeat center center;
	color: #bababa;
	display: block;
	height: auto;
	font-size: 10px;
	font-weight: normal;
	line-height: 24px;
	margin: 5px;
	padding: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	width: auto;
}
#body div div .section div div p a:hover {
	color: #a3a3a3;
}
#body div div .section div div p a.more:hover {
	background: url(/Images/bg-more-hover.png) no-repeat center center;
	color: #bababa;
}
#body div div .section div h3 {
	background: #070707 url(/Images/gradient3.png) repeat-x top center;
	border: 1px solid #22272a;
	color: #ffffff;
	font-family: 'Philosopher-Bold';
	font-size: 16px;
	font-weight: normal;
	height: auto;
	letter-spacing: 0.07em;
	line-height: 50px;
	text-align: center;
    text-decoration: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body div div .section div div a.figure {
	border: 1px solid #22272a;
	display: block;
	margin: 0;
	padding: 0;
}
#body div div .section div div a.figure:hover {
	opacity: 0.8;
}
#body div div .section div div a.figure img {
	border: 1px solid #000;
	display: block;
}
#body div div .section div div span {
	background: #181a1a url(/Images/gradient4.png) repeat-x bottom left;
	border-bottom: 1px solid #22272a;
	border-left: 1px solid #22272a;
	border-right: 1px solid #22272a;
	display: block;
	height: 38px;
}
#body div div .section div div span a {
	color: #a7a9ac;
	display: block;
	font-size: 12px;
	line-height: 38px;
	margin: 0;
	padding: 0 9px;
	text-align: center;
	text-decoration: none;
}
#body div div .section div div span a:hover {
	color: #fff;
}
#body .games {
	overflow: hidden;
}
#body .games h3 {
	background: #070707 url(/Images/gradient3.png) repeat-x top left;
	border: 1px solid #22272a;
	color: #ffffff;
	font-family: 'Philosopher-Bold';
	height: 50px;
	letter-spacing: 0.07em;
	line-height: 50px;
	margin: 10px;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
}
#body .games .content {
	background: url(/Images/border.gif) repeat-x top left;
    float: left;
	margin: 0;
	padding: 0;
}
#body .games ul {
	background: #181818;
	border: 1px solid #22272a;
	margin: 10px;
    padding: 15px 15px 0;
}
#body .games .platforms {
    -webkit-columns: 5;
    -moz-columns: 5;
    columns: 5;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 70px;
}
#body .games .platforms li {
    list-style: none;
    border: none;
    padding: 0;
    margin: 0;
}
#body .games .platforms p {
    text-align: center;
    padding: 4px;
}
#body .games .platforms img {
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
}
#body .games .platforms a {
    text-decoration: none;
    color: #a7a9ac;
}
#body .games .platforms a:hover {
    color: #ffffff;
}
#body .games ul h4 {
    text-align: center;
    color: #a7a9ac
}
#body .games ul li {
	border: 1px solid #22272a;
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
}
#body .games ul li a.figure {
	display: block;
	margin: 0;
	padding: 0;
}
#body .games ul li a.figure:hover {
	opacity: 0.8;
}
#body .games ul li a.figure img {
	border: 1px solid #000;
    display: flex;
}
#body .games ul li span {
	background: #181a1a url(/Images/gradient3.png) repeat-x bottom left;
	border-top: 1px solid #22272a;
	display: block;
}
#body .games ul li span a {
	color: #a7a9ac;
	display: block;
	margin: 0;
	padding: 0 9px;
	text-decoration: none;
}
#body .games ul li span a:hover {
	color: #ffffff;
}
#body .games .content span a {
	font-size: 14px;
    text-align: center;;
	line-height: 40px;
}
#body div div .section div div span a:hover {
	color: #fff;
}
#footer {
	background: url(/Images/bg-footer2.png) repeat-x bottom left;
	margin: 0;
	padding: 0;
}
#footer > div {
	background: url(/Images/bg-footer.png) no-repeat bottom center;
	margin: 0;
	text-align: center;
	padding: 6% 0 0;
	display: block;
}
#footer #brand {
    background: url(/Images/gg_pattern.png) no-repeat center center;
    padding: 50px 0 0;
    margin: 5px 0;
}
#footer ul {
	padding: 0;
	overflow: hidden;
	display: inline-block;
	margin: 20px 0 40px;
}
#footer ul li {
    background: url(/Images/icons.png) no-repeat center;
	float: left;
	list-style: none;
}
#footer ul li a {
	color: #bababa;
    text-align: center;
    line-height: 7em;
	text-decoration: none;
    margin: 0 25px;
    width: 75px;
    height: 70px;
    padding: 3px;
    display: block;
    font-size: 10px;
}
#footer ul li a:hover {
    color: #ffffff;
}
#footer p {
	color: #ffffff;
	font-size: 12px;
	margin: 0;
	padding: 3px;
	text-align: center;
	text-transform: none;
}
